p {
  font-size: 40px;
}

.center {
  text-align: center;
}

.jumbotron {
  background-image: url("https://pre00.deviantart.net/a702/th/pre/i/2012/057/8/a/park_background_by_mandydax-d4r4t3r.png");
 background-size: cover;
}
