p {
  font-size: 40px;
}

img {
  opacity: 0.8;
}

.center {
  text-align: center;
}

.jumbotron {
  background-image: url("https://pre00.deviantart.net/a702/th/pre/i/2012/057/8/a/park_background_by_mandydax-d4r4t3r.png");
 background-size: cover;
}

.col-md-12 {
  text-align: center;
}

.progress {
  margin-top: 10px;
  margin-left: 35%;
  max-width: 30%;
}
